<hr style="margin-top: 10px; border-top: 1px solid var(--color-border-light-primary); border-bottom: 1px solid var(--color-border-light-primary);">

<div class="form-group" style="margin-top: 10px; display: flex;">
    <button id="open-tile-config" type="button">Open Active Tile Window</button>
  <button id="refresh-manager" type="button">Refresh Manager</button>
</div>
