<style>
  
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields label {
  margin-top: 5px;
}

.form-fields input {
  margin-top: 2px;
}

  </style>


  <!-- modules/totm-manager/templates/modify-effect-window.hbs -->
  <form>
  <div class="form-group">
    <label>Effect Parameters (JSON):</label>
    <textarea name="effectParams" rows="10" cols="50">{{effectParams}}</textarea>
  </div>

  <div class="form-group">
    <label>Pick a Color:</label>
    <input type="color" name="colorPicker">
    <input type="field" name="numericalColor">
  </div>
  
  <div class="form-buttons">
    <button type="submit">Apply</button>
  </div>
</form>

