<div class="totm-manager">
<div class="tabs" data-group="primary-tabs">
  <a class="item" data-tab="stage" data-group="primary-tabs">Stage</a>
  <a class="item" data-tab="tiles" data-group="primary-tabs">Tiles</a>
  <a class="item" data-tab="effects" data-group="primary-tabs">Effects</a>
</div>

<section class="content">
  <div class="tab" data-tab="stage" data-group="primary-tabs">
    {{> header}}
    {{> stage}}
    {{> footer}}
  </div>
  <div class="tab" data-tab="tiles" data-group="primary-tabs">
    {{> header}}
    {{> tiles}}
    {{> footer}}
  </div>
  <div class="tab" data-tab="effects" data-group="primary-tabs">
    {{> header}}
    {{> effects}}
    {{> footer}} 
  </div>
</section>
</div>
