<div class="totm-manager totm-manager">
  <div class="totm-manager tabs" data-group="primary-tabs">
    <a class="totm-manager item" data-tab="stage" data-group="primary-tabs">
      <i class="totm-manager fas fa-masks-theater"></i> Stage
    </a>
    <a class="totm-manager item" data-tab="tiles" data-group="primary-tabs">
      <i class="totm-manager fas fa-cubes"></i> Tiles
    </a>
    <a class="totm-manager item" data-tab="effects" data-group="primary-tabs">
      <i class="totm-manager fas fa-magic"></i> Effects
    </a>
  </div>

<hr style="margin: 10px 0; border-top: 1px solid var(--color-border-light-primary); border-bottom: 1px solid var(--color-border-light-primary);">

  <section class="totm-manager content">
    <div class="totm-manager tab" data-tab="stage" data-group="primary-tabs">
      {{> header}}
      {{> stage}}
      {{> footer}}
    </div>
    <div class="totm-manager tab" data-tab="tiles" data-group="primary-tabs">
      {{> header}}
      {{> tiles}}
      {{> footer}}
    </div>
    <div class="totm-manager tab" data-tab="effects" data-group="primary-tabs">
      {{> header}}
      {{> effects}}
      {{> footer}} 
    </div>
  </section>
</div>
