/* Ensure all styles are scoped within .totm-manager */
#totm-manager.window-app {
    display: block;
}

.totm-manager .tabs {
    margin-bottom: 10px;
}

.totm-manager .tabs .totm-item {
    padding: 10px 15px 5px 15px;
    cursor: pointer;
    text-align: center;
    margin-right: 8px;
}

.totm-manager .tabs .totm-item.active {
    font-weight: bold;
    color: var(--color-text-dark-primary);
}

.totm-manager .tabs .totm-item.active i {
    color: var(--color-text-dark-header);
}

.totm-manager .tabs .totm-item:not(.active):hover {
    background-color: var(--color-background-hover);
}

.totm-manager.stage-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
}

.totm-manager.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust column size as needed */
  grid-gap: 10px; /* Space between buttons */
}

.totm-manager.stage-buttons-container hr {
  margin-top: auto; /* Push the hr to the bottom */
}

.totm-manager .tile-button {
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.totm-manager .tile-button:only-child {
    width: 100%;
}

.totm-manager .tile-button:hover {
    background-color: #e0e0e0;
}

.totm-manager .tile-button.active-button {
    border-color: var(--color-border-highlight);
    border-width: 2px;
}

.totm-manager button:has(i) {
    transform: translateY(0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #666;
    text-decoration: none;
    width: 2em;
    height: 2em;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: inherit;
    font-size: 1em;
    cursor: pointer;
    padding: 0;
}

.totm-manager button i {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.totm-manager button:has(i):hover {
    color: #333;
    border-color: #333;
}

.totm-manager button:has(i):active {
    transform: translateY(0);
}

.totm-manager .set-media-button i {
    border: none;
    font-size: 1.45em;
    align-items: center;
    justify-content: center;
    color: #666;
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
}

.totm-manager .set-media-button.active-button i {
    color: var(--color-border-highlight);
    transform: translateY(0);
}

.totm-manager #search-results img {
    width: 50%;
    height: auto;
    cursor: pointer;
}

.totm-manager #search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.totm-manager .add-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.totm-manager .add-image-container p {
    font-size: 16px;
    font-weight: 600;
    font-variant: small-caps;
    color: #666;
    text-align: left;
    padding-left: 5px;
    margin: 0;
}

.totm-manager .add-image-container button:hover {
    text-decoration: none;
}

.totm-manager .add-image-container button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
}

.totm-manager .add-folder::before {
    content: "\f07b";
}

.totm-manager .add-image:before {
    content: "\f055";
}

.totm-manager .add-image-container .prev-image::before {
    content: "\f060";
}

.totm-manager .add-image-container .next-image::before {
    content: "\f061";
}

.totm-manager a.add-folder, a.add-image {
    color: #666;
}

.totm-manager a.prev-image, a.next-image, .prev-image, .next-image {
    color: #666;
    text-align: left;
    padding-right: 5px;
    padding-left: 20px;
    margin: 0;
}

.totm-manager .add-folder {
    padding-left: 5px;
    text-align: left;
    display: inline;
    align-items: center;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    font-size: 12px;
    border: none;
}

.totm-manager .add-image {
    text-align: left;
    display: inline;
    align-items: center;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    font-size: 12px;
    border: none;
}

.totm-manager .add-folder i, .add-image i {
    margin-right: 5px;
}

.totm-manager .delete-image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #666;
    text-decoration: none;
    width: 2em;
    height: 2em;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: inherit;
    font-size: 1em;
    cursor: pointer;
    margin-left: 5px;
    padding: 0;
}

.totm-manager .delete-image i {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.totm-manager .delete-all-paths {
    text-align: right;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 12px;
    text-decoration: none;
    width: 3em;
    height: 2em;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: inherit;
    font-size: 1em;
    cursor: pointer;
    padding: 10px;
}

.totm-manager .delete-all-paths i {
    text-align: right;
    font-size: 1em;
    padding: 0;
}

.totm-manager .delete-image .delete-all-paths:hover {
    background-color: #ccc;
}

.totm-manager .delete-all-paths::before {
    content: "\f1f8";
}

.totm-manager .tile-field input[type="text"] {
    width: 150px;
}

.totm-manager .tile-field input[type="range"] {
    width: 100px;
}

.totm-manager .drag-over {
    border: 2px dashed #000;
    background-color: var(--color-hightlight);
}

.totm-manager .dropdown-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.totm-manager .dropdown-container select {
    width: 100%;
}

.totm-manager .hr-dropdown-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.totm-manager .section-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.totm-manager #current-effects-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: none;
}

.totm-manager select#target-dropdown,
select#tile-dropdown,
select#effect-dropdown {
    flex-grow: 1;
    min-width: 100px;
    height: 2em;
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.totm-manager .effect-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.totm-manager .effect-target-type {
    color: #666;
    text-decoration: none;
    width: 2em;
    height: 2em;
    border: 1px solid #666;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.totm-manager .effect-target-name,
.effect-name {
    display: inline-block;
    flex-grow: 1;
    min-width: 100px;
    max-width: 150px;
    height: 2em;
    margin-right: auto;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    background-color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.totm-manager .delete-effect {
    margin-left: auto;
}

.totm-manager .delete-effect:hover {
    border-color: #ff1a1a;
}
